/* 
@font-face {
    font-family: 'blumenregular';
    src: url('/fonts/blumen-webfont.woff2') format('woff2'),
         url('/fonts/blumen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

.flower{
    font-family: 'blumenregular';
    cursor: pointer;
    font-size: 30vh;
    transition: 1s ease-in;
}

.selected{
    opacity: 0;
    pointer-events: none;
}

.affirmation-screen{
    background-color: whitesmoke;
    transition: 1s ease-in;
    position: absolute;
}

.card{
    position: absolute;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    /* transform: translateX(-100%);  */
}

@media only screen and (max-width: 600px) {
    .flower {
        font-size: 30vw;
    }
  }