
@font-face {
    font-family: 'blumenregular';
    src: url('/fonts/blumen-webfont.woff2') format('woff2'),
         url('/fonts/blumen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.flower{
    font-family: 'blumenregular';
    font-size: 30vw;
    transition: 1s ease-in;
}

.selected{
    opacity: 0;
    pointer-events: none;
}