/* 
@font-face {
    font-family: 'blumenregular';
    src: url('/fonts/blumen-webfont.woff2') format('woff2'),
         url('/fonts/blumen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

body{
    background-color: whitesmoke;
}

.flower{
    font-family: 'blumenregular';
    cursor: pointer;
    font-size: 30vh;
    transition: 1s ease-in;
}

.selected{
    opacity: 0;
    pointer-events: none;
}

.affirmation-screen, .card{
    background-color: whitesmoke;
    transition: 1s ease-in;
    position: absolute;
    width: 100%;
}

h1{
    margin-bottom: .25em;
}

.show-affirmation-button, .hide-affirmation-button{
    line-height: 1.25em;
    cursor: pointer;
    text-decoration: underline;
}
.card div{
    text-align: center;
}

.affirmation{
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Vollkorn';
    font-weight: bold;
}

.card .flower{
    cursor: auto;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    /* transform: translateX(-100%);  */
}

.other-flowers .flower{
    font-size: 15vh;
}

@media only screen and (max-width: 600px) {
    .flower {
        font-size: 30vw;
    }

    .other-flowers .flower{
        font-size: 15vw;
    }
  }